# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/
.env
.conda/
conda-meta/

# Jupyter Notebook
.ipynb_checkpoints/

# Data files
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Models
models/*
!models/.gitkeep

# Figures

# System files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/